<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000652963052-l17f8mkfdaojtd36tu90c41ic0dhfhnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000652963052-l17f8mkfdaojtd36tu90c41ic0dhfhnh</string>
	<key>API_KEY</key>
	<string>AIzaSyDU6zcwUf2BMZR4eKvCh96UjuOjwdoY0qE</string>
	<key>GCM_SENDER_ID</key>
	<string>1000652963052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loop.universiting</string>
	<key>PROJECT_ID</key>
	<string>universiting-1c033</string>
	<key>STORAGE_BUCKET</key>
	<string>universiting-1c033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000652963052:ios:aad821d96845b4dfae79c9</string>
</dict>
</plist>